
* {
    background: #836262
}

h1 {
    float: left;
}

a {
    float: right;
}

main {
    clear: both;
}

.content {
    clear: both;
    background: #163f36;
}

img {
    overflow: hidden;
}
p {
    float: left;
}
    