
body {
/*     background: #836262;
 */    padding: 0% 20% 25% 20%;
}

.top {
    background: #a1a1a1;

}

h1 {
    float: left;
}

a {
    float: right;
}

main {
    background: white;
    float: left;
}

.content {
    
    background: #5b8d82;
    clear: both;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
    